/* card do perfil */
.card {
  /* border: 1px solid hsl(0, 0%, 80%); */
  border: 2px solid #fcbf49;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 10%, 10% 0.1);
  padding: 20px;
  /* margin: 10% 0 10% 0; */
  /* margin: 5% 0; */
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-image:hover {
  transform: scale(1.1);
}

.card .card-title {
  font-family: "Roboto", "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  color: #f77f00;
}

.card .card-text {
  /*  <weight>: Use a value from 100 to 900 */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(0, 0%, 30%);
  padding-top: 5px;
  text-align: left;
}
