#main {
  height: 400px;
  /* height: 70vh; */
  background-color: #fcbf49;
  /* padding: 100px 70px; */
  padding: 13vh 10%;
  margin: 5% 0 0 0;
}
.main-content-desc h1 {
  padding: 20px 0;
  text-align: justify;
  color: #003049;
}
.main-content-desc p {
  /* pa */
  text-align: justify;
  color: #003049;
}
