/* footer */
.foot {
  background-color: #003049;
  padding-top: 2em;
  padding: 20px 0;
  position: static;
}

.foot .text {
  /* font-family: Helvetica, sans-serif; */
  color: #fff;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 768px) {
  .foot .text {
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
}
