.conteudo-sobre {
  /* display: inline-flex; */
  /* margin: 20px 0; */
  margin: 5% 0 0 0;
  background-color: #fff;
  height: 600px;
  width: 0 auto;
  padding: 13vh 10%;
}
.sobre {
  /* float: left; */
}
.sobre h1 {
  color: #003049;
  padding-bottom: 50px;
}
.sobre h1 {
  /* margin-left: -50px; */
}
.sobre p {
  color: #003049;
  text-align: justify;
}
.foto {
  padding-top: 50px;
}
.foto .card-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
@media (max-width: 768px) {
  .conteudo-sobre {
    padding: 13vh 10%;
  }
  .sobre h1 {
    color: #003049;
    padding-bottom: 50px;
  }
  .sobre p {
    color: #003049;
    padding: 0 10px;
    /* padding: 20px; */
  }
}
